
# This is a basic workflow to help you get started with Actions

name: JUnitTest

on:
  pull_request:
    branches: [ "develop" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3 
      - name: Run tests
        run: chmod +x ./gradlew && ./gradlew test
